@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

body {
  background-color: #fce4ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.calculator {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  width: 320px;
}

#display {
  width: 100%;
  height: 70px;
  font-size: 2.2rem;
  text-align: right;
  border: none;
  background-color: #f3e5f5;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 15px;
  box-sizing: border-box;
  color: #7b1fa2;
  font-family: "Quicksand", sans-serif;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.btn {
  height: 60px;
  border-radius: 18px;
  border: none;
  background-color: #fff3f3;
  font-size: 1.3rem;
  font-weight: 700;
  color: #d81b60;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  transform: scale(0.92);
  filter: brightness(0.9);
}

.operator {
  background-color: #f3e5f5;
  color: #8e24aa;
}

.equal {
  background-color: #d1c4e9;
  color: #4527a0;
  grid-row: span 2;
  height: auto;
}

.clear {
  background-color: #ffcdd2;
  color: #c62828;
}
.delete {
  background-color: #ffe0b2;
  color: #ef6c00;
}
.zero {
  grid-column: span 2;
}
