* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d2e4d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Verdana", sans-serif;
}

.main-container {
  background: #1b244a;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  width: 650px; /* Gives them room to breathe */
}

.teams-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* This makes Home and Guest take up equal width */
}

.team-title {
  color: #eeeeee;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 800;
}

.score-box {
  background: #080001;
  color: #f94f6d;
  font-family: "Orbitron", sans-serif;
  font-size: 6rem;
  width: 170px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 25px;
}

.button-group {
  display: flex;
  gap: 10px;
}

button {
  background: transparent;
  border: 1px solid #9aabd8;
  color: #9aabd8;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif; /* Keeps everything matching */
  font-weight: bold;
  transition: all 0.2s;
}

button:hover {
  color: white;
  border-color: white;
  background: #2b3a75;
}

#reset-btn {
  margin-top: 10px;
  border: 2px solid #f94f6d;
  color: #f94f6d;
  padding: 10px 40px;
  font-size: 1.2rem;
}

#reset-btn:hover {
  background: #f94f6d;
  color: #1b244a;
}

.winner {
  border: 3px solid #f9d71c;
  box-shadow: 0 0 15px #f9d71c;
}

.timer-section {
  text-align: center;
  margin-bottom: 30px;
}

#timer-display {
  font-family: "Orbitron", sans-serif;
  color: #f94f6d;
  font-size: 3rem;
  margin-bottom: 10px;
}

.change-name {
  margin-top: 10px;
  margin-bottom: 10px;
}
