body {
  background-image: url("station.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#increment-btn {
  background-color: darkred;
}

#increment-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#increment-btn:active {
  transform: translateY(-1px);
}

#save-btn {
  background-color: darkgreen;
}

#save-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#save-btn:active {
  transform: translateY(-1px);
}
